.villain-block {
  background-color: #efefef;
  padding: 1rem;
  margin: 1rem;
  position: relative;

  .villain-block-actions {
    position: absolute;
    right: 0;
    bottom: 0;

    .villain-block-action {
      padding: .25rem .4rem;
      margin: .25rem 0;
      background-color: transparent;

      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }
}

.villain-header-input {
  border: 0;
  width: 100%;
  padding: 1rem;
}

.villain-markdown-input {
  border: 0;
  width: 100%;
  font-family: Fira Code;
  padding: 1rem;
}
