.villain-block-wrapper {
  margin: 1rem;
  position: relative;
}

.villain-block {
  background-color: #fff;
  padding: 0;
  padding-right: 2rem;
  min-height: 120px;
  position: relative;
  border: 2px solid #fff;
  transition: border 500ms ease;

  input:focus, textarea:focus {
    outline: none !important;
    border: none;
    box-shadow: none;
  }

  &.villain-drag-element {
    background: #fff;
    box-shadow: 3px 3px #f00 inset, -3px -3px #f00 inset ;
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: .5;

    .st-block-addition {
      display:none;
    }
  }

  &.villain-dragging-block {
    background:#f6f7f9;
    & > * {
      opacity:0;
    }
    &.st-block-addition {
      opacity:1;
    }
  }

  &.villain-drag-over {
    &.st-block-addition {
      opacity:0;
    }
  }

  &.villain-hover {
    border: 2px solid $villain-main-color;
    > .villain-block-actions {
      opacity: 1;
    }
  }

  &.villain-block-config {
    padding: 2rem;

    .villain-block-config-content {
      max-width: 600px;
      margin: 0 auto;
      padding: 2rem;

      background-color: $villain-secondary-color;

      .villain-config-content-buttons {
        margin: 0 auto;
        text-align: center;
      }

      label {
        border-bottom: 2px solid #feca1a;
        color: #000;
        font-size: 0.8rem;
        letter-spacing: 1px;
        margin-bottom: 0.75rem;
        margin-left: 0rem;
        padding: 0.3rem 0;
        text-transform: uppercase;

        &.form-check-label {
          background-color: transparent;
          color: #000;
          margin-left: .75rem;
          border: 0;
          margin-bottom: 0rem;
        }
      }

      p {
        text-align: center;
      }

      .form-control {
        border: 0;
        border-radius: 0;
        border: 1px solid #850038;
      }

      .display-icon {
        margin: 0 auto;
        display: inherit;
        align-self: center;
        justify-self: center;
        font-size: 12rem;
        text-align: center;
        color: $villain-main-color;
      }

      h5 {
        text-align: center;
        font-size: 0.8rem;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        margin-bottom: 1.5rem;
        border-bottom: 2px solid #00000008;
        padding-bottom: 1.5rem;
      }
    }
  }

  .villain-template-description {
    background-color: $villain-background-color;
    color: white;
    font-size: 12px;
    padding: 3px 7px;
    font-weight: bold;
    display: inline-block;
  }

  .villain-block-info {
    font-size: 8px;
    text-transform: uppercase;
    text-align: right;
    margin-left: 1rem;
    color: #aaa;
    display: none;
  }

  .villain-block-actions {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 500ms opacity ease;

    .villain-block-action {
      padding: .25rem .4rem;
      margin: .25rem 0;
      background-color: transparent;
      color: lighten($villain-main-faded-color, 55%);

      &:hover {
        color: $villain-main-color;
      }
    }
  }
}

.villain-block-image {
  padding: 0;
  img {
    min-width: 100%;
  }
}

.villain-image-library {
  img {
    margin-top: 2rem;
    padding: .7rem;
    border: 1px solid #eee;
    background-color: #fff;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 0px 5px #85003838;
      border-color: #aaa;
    }
  }
}

.villain-block-video {
  padding: 2rem;
  padding-right: 0;

  .villain-block-video-content {
    height: 0;
    padding-top: 56.25%;
    position: relative;
    width: 100%;

    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

.villain-block-slideshow {
  .villain-block-slideshow-images {
    display: flex;
    .villain-block-slideshow-image {
      padding: 1rem;
    }
  }
}

.villain-header-input {
  border: 0;
  width: 100%;
  padding: 1rem;
}

.villain-markdown-input {
  border: 0;
  width: 100%;
  font-family: Fira Code;
  padding: 1rem;
}

.villain-block-divider {
  padding-left: 2rem;
  padding-top: 2rem;

  hr {
    border-bottom: 1px solid #ddd;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 1.5em 0;
  }
}

.villain-blockquote-content {
  width: 100%;
  border: 0;
  padding: 1.5rem;
  font-size: 2rem;
  font-style: italic;
}

.villain-blockquote-cite {
  width: 100%;
  border: 0;
  padding: 0 1.5rem 1.5rem;
  font-size: 1rem;
  font-style: italic;
}

.villain-editor {
  .ql-container.ql-snow {
    border: 0;
  }

  .ql-toolbar.ql-snow {
    border: 0;
    border-bottom: 1px solid #eee;
  }

  .ql-editor {
    font-family: Robotox,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-size: 1.2rem;

    p {
      margin-bottom: 1.5rem;
      line-height: 1.9rem;
    }

    a {
      text-decoration: none;
    }
  }

  .quill-editor.lead .ql-editor {
    font-size: 2.2rem;
    font-weight: 400;
  }

  .ql-snow .ql-tooltip a {
    border: 0;
  }
}

.villain-timeline {
  list-style: none;
}
.villain-timeline > li {
  margin-bottom: 60px;
}

/* for Desktop */
@media ( min-width : 640px ){
  .villain-timeline > li {
    overflow: hidden;
    margin: 0;
    position: relative;
  }
  .villain-timeline-item-date {
    width: 110px;
    float: left;
    margin-top: 21px;
    font-size: 85%;
    font-weight: bold;
  }
  .villain-timeline-item-content {
    width: 75%;
    float: left;
    border-left: 3px #e5e5d1 solid;
    padding-left: 30px;
    min-height: 60px;
    display: flex;
    align-items: center;
  }
  .villain-timeline-item-content:before {
    content: '';
    width: 12px;
    height: 12px;
    background: $villain-main-color;
    position: absolute;
    left: 106px;
    top: 24px;
    border-radius: 100%;
  }

  .villain-timeline-item-content-inner {
    font-size: 95%;
  }
}
