.tooltip {
  display: block !important;
  z-index: 10000;

  .tooltip-inner {
    background: black;
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
    z-index: 1;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &.popover {
    $color: #f9f9f9;

    .popover-inner {
      background: $color;
      color: black;
      padding: 24px;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, .1);
    }

    .popover-arrow {
      border-color: $color;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}

.villain-editor {
  background-color: white;
  background: repeating-linear-gradient(
    -45deg,
    #fff,
    #fff $villain-editor-stripe-thickness,
    $villain-editor-stripe-color $villain-editor-stripe-thickness,
    $villain-editor-stripe-color $villain-editor-stripe-thickness * 2
  );
  padding-top: 1rem;
  padding-bottom: 1rem;

  &.villain-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 999999;
  }

  .villain-editor-autosave-list-popup {
    padding: 2rem 3rem;
    min-width: 650px;
    margin-left: auto;
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid #eee;
    position: fixed;
    z-index: 99999999;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    strong {
      text-align: right;
      display: block;
      padding-bottom: 2rem;
    }

    .villain-editor-autosave-list-popup-item {
      display: flex;
      min-width: 500px;
      justify-content: space-between;
      align-items: center;
      padding-bottom: .5rem;

      .villain-editor-autosave-list-popup-item-date {
      }
    }
  }

  .text-mono {
    font-family: "SF Mono", "Menlo", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;
  }

  .container {
    /** OVERRIDE THIS TO PREVENT TEMPLATES FROM SCREWING UP **/
    max-width: 100%;
  }

  .villain-editor-toolbar {
    padding: 0 1rem;
    text-align: center;

    .villain-editor-instructions {
      padding: .1rem .5rem;
      display: inline-block;
      background-color: $villain-block-background-color;
    }

    .villain-editor-controls {
      padding: .1rem .5rem;
      background-color: #fff;
      display: flex;
      justify-content: space-between;

      div {
        padding: 0 .2rem;

        i {
          color: lighten($villain-main-faded-color, 55%);
          &:hover {
            color: $villain-main-color;
          }
        }
      }
    }
  }

  .villain-editor-source {
    padding: 1rem;
    textarea {
      padding: 1rem;
      width: 100%;
      height: 100%;
      min-height: 500px;
      font-family: "SF Mono", "Menlo", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;
      border: 0;
    }
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 650ms;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.fade-fast-enter-active, .fade-fast-leave-active {
  transition: opacity 250ms;
}
.fade-fast-enter, .fade-fast-leave-to {
  opacity: 0;
}

.bounce-enter-active {
  animation: bounce-in .5s;
}

.bounce-leave-active {
  animation: bounce-out .5s;
}

@keyframes bounce-in {
  0% {
    opacity: .5;
    transform: scale(0.85);
  }
  50% {
    opacity: .75;
    transform: scale(1.02);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes bounce-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  20% {
    transform: scale(1.001);
  }
  100% {
    opacity: 0;
    transform: scale(0.85);
  }
}
