.villain-editor {
  background-color: white;
  background: linear-gradient(white 50%, #ffebf3 50%);
  background-size: 100% 2px;
  background-repeat: repeat-y;
  padding-top: .001rem;
  padding-bottom: 1rem;
}
