.villain-editor-plus {
  text-align: center;
  margin-top: 1rem;
  color: $vmain;

  &.villain-drag-over {
    .villain-editor-plus-inactive {
      a {
        color: #fff;
        background-color: $vmain !important;
      }
    }
  }

  .villain-editor-plus-available-blocks {
    background-color: $vmain;
    position: relative;

    .villain-editor-plus-close {
      position: absolute;
      right: 5px;
      color: #fff;
      top: 5px;
    }

    .villain-editor-plus-available-block {
      color: #fff;
      background-color: transparent;
      display: inline-block;
      padding: .5rem 1rem;
      margin: .25rem;
      cursor: pointer;
      transition: 500ms background-color ease, 500ms color ease;

      &:hover {
        background-color: #fff;
        color: $vmain;
      }

      .villain-editor-plus-available-block-text {
        text-transform: uppercase;
        font-size: .7rem;
        font-weight: bold;
      }
    }
  }
}

.villain-editor-plus-inactive {
  a {
    display: block;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
    color: $vmain;
    background-color: #fff;
    transition: all 250ms ease;
    border: 0;
    padding: .12rem;

    &:hover {
      background-color: $vmain;
      color: #fff !important;
      border: 0;
    }
  }
}
