$vmain: #94003e;
$vsecondary: #94003e0d;
$availableBlockColor: $vmain;
$availableBlockHoverColor: lighten($vmain, 50%);

@import 'editor';
@import 'block';
@import 'plus';

@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';
